@import './base.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  font-weight: normal;
}

body {
  background-color: #282828;
  color: hsla(160, 100%, 37%, 1);
}

.card, .modal-content {
  background-color: #323232;
}

.modal-content {
  --bs-modal-header-border-color: #323232;
  --bs-modal-footer-border-color: #323232;
}

a,
h1, h2, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}

.cardView {
  margin: 0 10%;
}

.btn{
  margin: 20px;
}

.buttons {
  width: 10%;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

.login {
  margin: auto;
  width: 20%;
}

.form-group{
  margin: 10px;
}

.search {
  width: 10%;
  margin-left: 80%;
  margin-bottom: 1%;
}